<hi><%=@team.name%></h1>
  <h2><%=@team.motto%></h2>
  <h2><%=@member.all[0].name%></h2>
  <p><%=@member.all[0].power%></p>
  <p><%=@member.all[0].bio%></p>

  <h2><%=@member.all[1].name%></h2>
  <p><%=@member.all[0].power%></p>
  <p><%=@member.all[0].bio%></p>

  <h2><%=@member.all[2].name%></h2>
  <p><%=@member.all[0].power%></p>
  <p><%=@member.all[0].bio%></p>
